In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
friends=pd.read_csv("facebook_friends.csv")

In [5]:
transactions=pd.read_csv("facebook_transactions.csv")

In [6]:
friends.head()

   user1  user2
0    157    102
1    138     68
2    141    183
3     74     14
4     18    127

In [7]:
transactions.head()

      Type  Source  Target
0  Comment      66      56
1    Share      91      17
2  Comment      74      34
3     Like      22     156
4     Like     122      40