In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('sinif_notlar.csv')

In [4]:
df.head()

   delivers_homework  attends_class  delivers_project      score  passed
0                  1              0                 1  70.681369       1
1                  1              0                 0  61.635384       1
2                  1              0                 0  53.978417       1
3                  0              1                 0  53.291736       1
4                  0              1                 0  57.550352       1